p {
  margin: 0;
}

.color-1 {
  background-color: darksalmon;
}
.color-2 {
  background-color: mediumseagreen;
}
.color-3 {
  background-color: cornflowerblue;
}
.color-4 {
  background-color: hotpink;
}
