<h1 class="text-center">New Company</h1>
<form [formGroup]="formGroup" #myForm="ngForm" (submit)="onFormSubmit(myForm)">
  <mat-progress-spinner *ngIf="isAddingCompany" [color]="'primary'" [mode]="'indeterminate'">
  </mat-progress-spinner>
  <span id="add-company-error-message" *ngIf="addCompanyError">{{ addCompanyError }}</span>
  <mat-form-field>
    <input id="name-input" matInput placeholder="Name" [formControl]="nameControl" required />
    <mat-error id="name-input-error">Enter a valid Name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      id="email-input"
      matInput
      placeholder="Email"
      type="email"
      [formControl]="emailControl"
    />
    <mat-error id="email-input-error">Enter a valid Email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select id="countries-select" placeholder="Country" [formControl]="countryControl" required>
      <mat-option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </mat-option>
    </mat-select>
    <mat-error id="countries-select-error">Select a Country</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      id="market-value-input"
      matInput
      placeholder="Market Value"
      [formControl]="marketValueControl"
      required
    />
    <mat-error id="market-value-input-error">Enter a valid Market Value</mat-error>
  </mat-form-field>
  <button mat-button type="submit">Add</button>
</form>
